<footer>
  <div class="container-fluid footer-container">
    <div class="row">
      <div class="col-12 flex-column">
        <p class="logo">Kampong Bakes</p>
        <div>
          <%= image_tag "instagram.svg", width: "24px" %>
          <p class="ml-2">@kampungbakes</p>
        </div>
        <div>
          <%= image_tag "mail.svg", width: "24px" %>
          <p class="ml-2">auyeongweibin@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>