<div class="sm-container">
  <%= link_to "< Back", my_sales_path, class: "btn-muted" %>
</div>
<div class="sm-container order-form">
  <h1>Update Order</h1>

  <%= render "form", order: @order %>
</div>
