<div class="outer-container">
  <h1>My Orders</h1>
  <% @orders.each do |order| %>
    <div class="order-card">
      <img src="https://source.unsplash.com/random/300x300">
      <div class="card-content">
        <p class="card-title"><%= order.product.name %></p>
        <p><strong>Delivery address: </strong><%= order.user.address %></p>
        <p class="status"><%= order.status %></p>
        

        <%= link_to "Add Review", new_product_order_review_path(order.product, order) %>
      </div>
    </div>
  <% end %>
</div>
