<div class="outer-container">
  <h1>My Orders</h1>
  <% @orders.each do |order| %>
    <div class="order-card">
      <img src="https://source.unsplash.com/random/300x300">
      <div class="card-content">
        <p><%= order.product.name %></p>
        <p><%= order.user.address %></p>
        <p class="status">order.status</p>
      </div>
    </div>
  <% end %>
</div>
