.btn-pink {
  background-color: $accent;
  color: white;
  padding: 0.5rem 1rem;
  min-width: 50px;
}

.btn-orange {
  background-color: $color-1;
  color: white;
  padding: 0.5rem 1rem;
  min-width: 50px;
  border-radius: 4px;
}