.card-product {
  padding: 10px 10px;
  display: inline-block;
  box-shadow: 2px 2px 8px rgb(184, 184, 184);
  transition: box-shadow ease 0.2s;
  margin: 10px 0;

  .card-user {
    color: black;
    font-weight: bold;
    margin: 5px 0;
  }
  
  img {
    width: 100%;
  }

  .card-product-infos {
    display: flex;
    align-items: center;
    .card-title {
      font-size: 2rem;
    }
    .card-price {
      width: 15%;
      margin-left: auto;

      .price {
        font-size: 2rem;
      }
    }
  }
}

a:hover .card-product {
  box-shadow: 2px 2px 12px rgb(122, 122, 122);
}
