.outer-container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .review-new-container {
    width: 70%;
    border-style: solid;
    box-shadow: 2px 2px 6px rgb(175, 175, 175);
    border-radius: 6px;
    border-color: rgb(175, 175, 175);
    padding: 10px;
  }
}

.split-container {
  display: flex;
  width:90%;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: 2px 2px 8px rgb(175, 175, 175);
  border-radius: 8px;
  padding: 16px;

  .left-container {
    width: 47%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .right-container {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h4 {
      color: red;
      font-weight: bold;
    }
    .address {
      margin-top: 30px;
    }
    .description {
      margin-top: 20px;
    }
  }
} 

@media only screen and (max-width: 600px) {
  .split-container {
    flex-direction: column;

    .left-container {
      width: 100%;
    }

    .right-container {
      width: 100%;
    }
  }
}

.lg-container {
  width:90%;
  max-width: 1300px;
  margin: 0 auto;
  a {
    transition: color ease 0.2s;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;

    &:hover {
      color: black;
    }
  }
}
.sm-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.order-form {
  box-shadow: 2px 2px 8px rgb(175, 175, 175);
  border-radius: 8px;
  padding: 16px;
  p {
    font-size: 1.5rem;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-top: 2rem;
  }
}

.order-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#map {
  margin-bottom: 2rem;
}
