.outer-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.split-container {
  display: flex;
  width:90%;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: 2px 2px 8px rgb(175, 175, 175);
  border-radius: 8px;
  .left-container {
    width: 47%;
    img {
      width: 100%;
      padding: 10px;
    }
  }

  .right-container {
    width: 47%;

    h4 {
      color: red;
      font-weight: bold;
    }
    .address {
      margin-top: 30px;
    }
    .description {
      margin-top: 20px;
    }
  }
}

.lg-container {
  width:90%;
  max-width: 1300px;
  margin: 0 auto;
  a {
    transition: color ease 0.2s;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;

    &:hover {
      color: black;
    }
  }
}
.sm-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.order-form {
  box-shadow: 2px 2px 8px rgb(175, 175, 175);
  border-radius: 8px;
  padding: 16px;
  p {
    font-size: 1.5rem;
  }

  h1 {
    margin-bottom: 3rem;
  }
}

.order-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
