.inner-navbar {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand img {
  width: 70px;
}

footer {
  background-color: $color-1;
  color: white;

  .logo {
    font-family: $logo-font;
    font-size: 3rem;
  }

  p {
    font-size: 1.3rem;
    display: inline-block;
  }
}

.footer-container {
  width: 90%;
  max-width: 1300px;
}