.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 0;
  padding: 0;
}

.inner-navbar {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  position: relative;
   &:hover {
     cursor: pointer;
   }
}
