<div class="parallax-container">
  <div class="bg">
    <%= image_tag "hero-bg.png", alt: "bread" %>
  </div>
  <div class="foreground">
    <div class="content">
        <h1>One-stop platform for home-bakers</h1>
    </div>  
  </div>
</div>