<div class="sm-container">
  <%= link_to "< Back", product_path(@product), class: "btn-muted" %>
</div>
<div class="sm-container order-form">
  <h1>Change Product Details</h1>

  <%= render "form", product: @product %>
</div>
