<div class="outer-container">
    <div class="container-fluid text-center">
      <h1>My Products</h1>
      <div class="row">
        <% @products.each do |product| %>
          <a href="<%= product_path(product) %>" class="col-12 col-md-6 col-lg-4">
                    <div class="card-product">
                      <% if product.photo.attached? %>
                        <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill, class: "product-photo" %>
                      <% else %>
                        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="product-photo" />
                      <% end %>
                      <div class="card-product-infos">
                        <div class="card-description">
                          <p class="card-title"><%= product.name %></p>
                        </div>
                        <div class="card-price">
                          <p class="price"><%="$#{product.price}"%></p>
                        </div>
                      </div>
                    </div>
                </a>
        <% end %>
      </div>
    </div>
  </div>
