<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Product Details
</div>

<div class="container">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg " />
    <div class="card-product-infos">
      <h5>Product Name</h5>
      <li><%= @product.name %></li> 
      <h5>Product Description</h5>
      <li><%= @product.description %></li>
      <h5>Product Category</h5>
      <li><%= @product.category %></li>
      <h5>Product Price</h5>
      <li><%= @product.price %></li>
    </div>
  </div>
</div>