<div class="outer-container">
  <div class="review-new-container">
    <h1>Add a review</h1>
    <div class="review-card">
      <%= simple_form_for [@order, @review] do |f| %>
        <%= f.input :content, label: "ðŸ˜How was the taste?" %>
        <%= f.input :rating, collection: (1..5).to_a, label: "â­Give it a rating" %>
        <%= f.submit 'Submit Review', class: "btn btn-orange" %>
      <% end %>
    </div>
  </div>
</div>

