<div class="outer-container">
  <h1>Add a review</h1>
  <div class="review-card">
    <%= simple_form_for(restaurant) do |f| %>
      <%= f.input :content, label: "Review" %>
      <%= f.input :rating, label: "Rate between 1-5" %>
      <%= f.submit, class: "btn btn-orange"%>
    <% end %>
  </div>
</div>